* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    color: $textes;
    font-family: $font-family;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer_back;
    height: $footer-height;
    color: $color-footer_typo;

    @media (min-width:720px) {
        font-size: 25px;
    }
}

img {
    width: 100%;
}

svg {
    width: 20px;
    height: 20px;
}