* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    // font-family: $font-family_menu;
    color: $textes;

    @media (min-width:720px) {
        // section header-menu
        .header-menu {
            flex-direction: row;
            gap: 200px;
            nav {
                ul {
                    li {
                        display: inline;
                        padding: 0 5px;
                    }
                    
                }
            }
        }

        // section intro
        .intro-items {
            
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer_back;
    height: $footer-height;
    color: $color-footer_typo;
}

img {
    width: 100%;
    height: auto;
}