.contact {
    margin-top: 10px;
    li {
        font-size: 12px;
        list-style: none;
    }
}

@media (min-width: 720px) {
    .contact {
        margin-top: 15px;
        li {
            text-align: center;
            font-size: 15px;
        }
    }
}