// HAMI-Ludwig_20241107_kome-waza_header-scss
.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        font-family: $font-family_menu;
        font-size: $font-size_menu;
        align-self: center;
        ul {
            li {
                text-align: left; //align text correctly on the left
                list-style: none;
    
                a {
                    text-decoration: none;
                    color: $menu-color;
                }

                a:hover {
                    color: $menu-color_hover;
                }
            }
        }
    }
}

.header-img {
    width: 100%;
    height: auto;
}

@media (min-width:720px) {

    // section header-menu
    .header-menu {
        flex-direction: row;
        gap: 200px;
        nav {
            ul {
                li {
                    display: inline;
                    padding: 0 5px;
                }                    
            }
        }
    }
    .menu-items {
        row-gap: 70px;
    }
}