.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        font-family: $font-family_menu;
        font-size: $font-size_menu;
        align-self: center;
        ul {
            li {
                text-align: left; //align text correctly on the left
                list-style: none;
    
                a {
                    text-decoration: none;
                    color: $menu-color;
                }

                a:hover {
                    color: $menu-color_hover;
                }
            }
        }
    }
}