.intro-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .intro-items-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: $font-family;
            font-size: 25px;
            font-weight: 600;
        }

        h3 {
            font-family: $font-family;
            font-size: 6px;
        }

        p {
            font-family: $font-family;
            color: $textes;
        }
    }

    .intro-items-img {
        width: 100%;        

        img {
            width: 100%;
        }
    }
}

@media (min-width:720px) {
    .intro-items{
        margin:50px 20%;
        flex-direction: row-reverse;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-start;

        .intro-items-txt {
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            
        
            h1 {
                font-size: 55px;
                width: 50%;
            }
        
            p {
                width: 25%;

            }
        }

        .intro-items-img{
            img {
                width: 95%;
            }   
        }
    }    
    
}
