// HAMI-Ludwig_20241107_kome-waza_variables-scss

// menu 
$font-family_menu: "Roboto", serif;
$font-size_menu: 20px;
$menu-color: #003E52;
$menu-color_hover: #6cadc2;
$menu-margin: 10px;

// paragraph
$textes: #003E52;

// titles
$font-family: "Roboto", serif;
// footer
$color-footer_back: #003e52;
$color-footer_typo: #ffffff;
$footer-height: 200px;
